<% layout('/layouts/boilerplate.ejs') %>

<div class="filters">
    <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <span>Trending</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <span>Rooms</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <span>Iconic cities</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-mountain-sun"></i>
        <span>Mountain</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-umbrella-beach"></i>
        <span>Beach</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-chess-rook"></i>
        <span>Castles</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-tree"></i>
        <span>Camping</span>
    </div>
    <div class="filter">
        <i class="fa-solid fa-tractor"></i>
        <span>Farms</span>
    </div>
    <div class="taxt-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Show GST</label>
        </div>
    </div>
</div>

<div class="card-con">
    <div class="c-card">
     <% for( let i = 0; i < data.length; i++ ) { %>
         <!-- Wrap the entire card in the <a> tag -->
         <a href="/listings/<%= data[i]._id %>" class="card-link">
             <div class="card" style="width: 18rem;">
                 <img src="<%= data[i].image.url %>" class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-text"><%= data[i].title %></p>
                     <p class="card-text">Price: <%= data[i].price %> <i class="gst-text hidden-class">+18% GST</i></p>
                     <p class="card-text">Location: <%= data[i].location %></p>
                     <p class="card-text">Country: <%= data[i].country %></p>
                 </div>
             </div>
         </a>
     <% } %>
    </div>
 </div>

<script>
    let switchCheckDefault = document.querySelector('#switchCheckDefault');

    switchCheckDefault.addEventListener('click', () => {
        // Toggling the visibility of GST info
        let gstTextElements = document.querySelectorAll('.gst-text');
        gstTextElements.forEach(el => {
            el.classList.toggle('hidden-class');
        });
    });
</script>
